
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');


:root {
    --primary: #6A4E3B;
    --secondary: #F0E6D9;
    --accent: #C69C6D;
    --dark: #2A1E17;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--secondary);
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
}


.top-bar {
    width: 95%;
    margin: 15px auto;
    background: var(--primary);
    padding: 18px 30px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: var(--accent);
}


.main-button {
    padding: 12px 22px;
    background: var(--accent);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.main-button:hover {
    background: var(--primary);
    transform: scale(1.05);
}


.main-banner {
    height: 90vh;
    margin: 20px;
    border-radius: 30px;
    padding: 40px;
    background: url("./f1 img.jpg") center/cover fixed;
    display: flex;
    align-items: center;
    color: white;
}

.banner-text h1 {
    font-size: 55px;
    font-family: 'Playfair Display';
}


.about-section {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.info-box {
    width: 33%;
    background: var(--primary);
    color: white;
    padding: 25px;
    border-radius: 20px;
}

.image-box {
    background: url('f8 img.jpg') center/cover;
}


.section-title {
    font-size: 42px;
    margin: 40px 20px;
    font-family: 'Playfair Display';
}

.highlight {
    color: var(--primary);
}


.steps-section {
    width: 90%;
    margin: auto;
}

.scroll-box {
    height: 430px;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 25px;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.scroll-box::-webkit-scrollbar {
    width: 8px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

.step-box {
    display: flex;
    background: #ffffff;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step-image {
    width: 40%;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.step-text {
    width: 60%;
    padding: 35px;
}

.img1 {
    background-image: url('f4 img.jpg');
}

.img2 {
    background-image: url('f2 img.jpg');
}

.img3 {
    background-image: url('f3 img.jpg');
}

.img4 {
    background-image: url('f6 img.jpg');
}

.img5 {
    background-image: url('f5 img.jpg');
}


.reasons-section {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.reason-box {
    width: 32%;
    background: var(--primary);
    padding: 25px;
    border-radius: 20px;
    color: white;
}

.tall-box {
    height: 260px;
}

.marquee {
    font-size: 38px;
    color: var(--primary);
    margin: 40px 0;
    text-align: center;
    font-family: 'Playfair Display';
}


.cta-section {
    background: var(--primary);
    color: white;
    padding: 60px;
    margin: 20px;
    border-radius: 25px;
    text-align: center;
}


.footer-section {
    background: var(--primary);
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin: 20px;
}

.footer-grid {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


@media(max-width:900px) {

    .about-section,
    .reasons-section {
        flex-direction: column;
    }

    .info-box,
    .reason-box {
        width: 100%;
    }

    .step-box {
        flex-direction: column;
    }

    .step-image,
    .step-text {
        width: 100%;
    }
}